<!DOCTYPE HTML>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Similar Papers</title>

<!-- Google Analytics JS -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-155201556-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-155201556-1', { 'anonymize_ip': true });
</script>

<!-- MathJax -->
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML">
</script>

<!-- Favicon -->
<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />

<!-- JS -->
<script src="{{ url_for('static', filename='d3.min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery-3.4.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='as-common.js') }}"></script>

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

<!-- Font Awesome -->
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='similarpapers.css') }}">

{% block head_extras %}{% endblock %}

</head>
<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/"><h2>Similar papers</h2></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('info') }}">Site info and policy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/hmorimitsu/similarpapers" target="_blank"><i class="fa fa-github"></i> See on GitHub</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="bg-primary">
    <div style="height: 72px"></div>
    <div class="container">
      <p class="text-white">Serving last {{ totpapers }} open papers from top conferences in CV, ML and AI.</p>
    </div>
  </div>

  <!-- Code taken from https://www.codeply.com/go/7Fab8Thufl -->
  <script>
    (function ($) {
      let previousScroll = 20;
      // scroll functions
      $(window).scroll(function(e) {
        // add/remove class to navbar when scrolling to hide/show
        let scroll = $(window).scrollTop();
        if (scroll >= previousScroll) {
          $('.navbar').addClass("navbar-hide");
        }else if (scroll < previousScroll) {
          $('.navbar').removeClass("navbar-hide");
        }
        previousScroll = scroll;
      });
    })(jQuery);
  </script>
  {% block body %}{% endblock %}
</body>
</html>